 Том в устройстве C не имеет метки.
 Серийный номер тома: CC3E-3358

 Содержимое папки C:\Users\Roman\PycharmProjects\djangogirls

18.03.2020  13:17    <DIR>          .
18.03.2020  13:17    <DIR>          ..
18.03.2020  13:17                 0 .gitignore
18.03.2020  12:09    <DIR>          blog
18.03.2020  13:15           139 264 db.sqlite3
18.03.2020  11:37               647 manage.py
18.03.2020  11:46    <DIR>          mysite
18.03.2020  11:35                15 requirements.txt
18.03.2020  11:33    <DIR>          venv
               4 файлов        139 926 байт
               5 папок  149 362 778 112 байт свободно
